.root {
    -fx-font-size: 12pt;
    -fx-accent: #1e74c6;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-base: black;

}
.scroll-bar:hover
{
    -fx-background-color: white;
}
.list-cell
{
    -fx-background-color: #3b3f41;
    -fx-text-fill: white;
    -fx-horizontal-grid-lines-visible: black;


}

.list-cell:hover
{
    -fx-background-color: black;
}

.list-cell:selected
{
    -fx-background-color: rgba(0, 0, 255, 0.45);
    -fx-text-fill:white;
}
.list-view
{
    -fx-text-fill: white;
    -fx-grid-lines-visible: true;
}
.text-area
{
    -fx-control-inner-background: black;
    -fx-text-fill: white;
    -fx-border-color:white
}

.dialog-pane
{
    -fx-background-color: black;
}
.button {
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}
.button:hover {
    -fx-background-color: green;
}